#backendErr {
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 46px;

  margin: 80px auto;
}

.island {
  display: flex;
  justify-content: center;

  img {
    margin: 50px;
    width: 100%;
    max-width: 800px;
  }
}
