<div id="main">
  <h2 class="center" *ngIf="island.playerId != undefined">Inseldaten von {{userName}}</h2>
  <h2 class="center" *ngIf="island.playerId == undefined">Inseldaten</h2>

  <div id="islandData">
    <div class="val">Schaden: {{island.damage}}</div>
    <div class="val">Leben: {{island.life}}</div>
    <div class="val">Goldproduktionsrate: {{island.goldPerTick}} Gold pro Tick</div>
    <div class="val">Maximum Leben: {{island.max_life}}</div>
  </div>

  <br *ngIf="island.playerId == playerID">
  <br *ngIf="island.playerId == playerID">

  <div class="flex" *ngIf="island.playerId == playerID">
    <div>Schiff-Kosten: 250 Gold</div>
    <button (click)="buyShip()">Schiff kaufen</button>
  </div>

  <br *ngIf="island.playerId == playerID">
  <br *ngIf="island.playerId == playerID">

  <div class="flex" *ngIf="island.playerId == playerID">
    <div>Upgrade-Kosten: {{250 + (island.upgrade_count * 250)}} Gold</div>
    <button (click)="gameService.upgradeIsland('damage',island.id)">Schaden + 5</button>
    <button (click)="gameService.upgradeIsland('life',island.id)">max. Leben + 50</button>
    <button (click)="gameService.upgradeIsland('gold',island.id)">Goldproduktionsrate + 5</button>
    <button (click)="gameService.upgradeIsland('heal',island.id)">Heilen</button>
  </div>
</div>
