<div id="main">
  <h2 *ngIf="island.playerId != undefined">Inseldaten von {{island.playerId}}</h2>
  <h2 *ngIf="island.playerId == undefined">Inseldaten</h2>

  <div id="islandData">
    <div>Schaden: {{island.damage}}</div>
    <div>Leben: {{island.life}}</div>
    <div>Maximum Leben: {{island.max_life}}</div>
    <div>Goldproduktionsrate: {{island.goldPerTick}}</div>
  </div>

  <div id="flex" *ngIf="island.playerId == playerID">
    <button (click)="buyShip()">Schiff kaufen</button>
  </div>
</div>
