<div id="main">
  <h2 *ngIf="island.playerId != undefined">Inseldaten von {{userName}}</h2>
  <h2 *ngIf="island.playerId == undefined">Inseldaten</h2>

  <div id="islandData">
    <div>Schaden: {{island.damage}}</div>
    <div>Leben: {{island.life}}</div>
    <div>Maximum Leben: {{island.max_life}}</div>
    <div>Goldproduktionsrate: {{island.goldPerTick}}</div>
  </div>

  <div id="flex" *ngIf="island.playerId == playerID">
    <button (click)="buyShip()">Schiff kaufen 250g</button>
  </div>

  <div>
    <div>price: {{250 + island.upgrade_count * 250}}</div>
    <button (click)="gameService.upgradeIsland('damage',island.id)">upgrade damage</button>
    <button (click)="gameService.upgradeIsland('life',island.id)">upgrade max life</button>
    <button (click)="gameService.upgradeIsland('heal',island.id)">heal</button>
    <button (click)="gameService.upgradeIsland('gold',island.id)">upgrade gold per tick</button>
  </div>
</div>
