* {
  color: white;
}

#main {
  background-color: #4f8fba;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;

  #flex {
    display: flex;
    justify-content: center;

    button {
      margin-top: 15px;
      color: black;
    }
  }

  .active{
    background-color: gray;
  }
}
