<div class="center">
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <h1>Login</h1>

    <div>
      <div class="flex">
        <div class="txt_field">
          <input type="text" name="userName" id="userName" [(ngModel)]="userName" #user="ngModel" required
                 pattern="^[a-zA-Z1-9._]+$">
          <span></span>
          <label>Benutzername:</label>
        </div>
        <div *ngIf="user.hasError('required') && user.touched">
          <span class="error" matTooltip="Sie müssen einen Benutzernamen angeben!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
        <div *ngIf="user.hasError('pattern') && user.touched">
          <span class="error" matTooltip="Dieser Benutzername ist nicht erlaubt!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
      </div>

      <div class="flex">
        <div class="txt_field">
          <input type="password" name="password" id="password" [(ngModel)]="password" #passwd="ngModel" required>
          <span></span>
          <label>Passwort:</label>
        </div>
        <div *ngIf="passwd.hasError('required') && passwd.touched">
          <span class="error" matTooltip="Sie müssen ein Passwort angeben!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Anmelden</button>
    <div class="signup_link">Noch kein Account? <a (click)="changeFormFunc()">Registrieren</a></div>
  </form>
</div>
