<div id="capture" [class.blur]="changePasswordActive">
  <div class="island">
    <img src="assets/img/vikingsisland.png">
  </div>

  <div>
    <button class="logout-button" (click)="back()">Zurück</button>
  </div>

  <div class="admin-panel">
    <div class="game-container">
      <h1>Spiele</h1>
      <div class="game" *ngFor="let game of games">
        <button class="delete-button" (click)="deleteGame(game.id)">Löschen</button>
        <div class="info">
          <div>ID: {{ game.id }}</div>
          <div>NAME: {{ game.name }}</div>
        </div>
      </div>
    </div>
    <div class="user-container">
      <h1>Benutzer</h1>
      <div class="user" *ngFor="let user of users">
        <button class="delete-button" (click)="deleteUser(user.id)">Löschen</button>
        <button class="change-button" (click)="changePWDActive(user.id, user.name)">Ändern</button>
        <div class="info">
          <div>ID: {{ user.id }}</div>
          <div>NAME: {{ user.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center" *ngIf="changePasswordActive">
  <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
    <div class="head">
      <span (click)="close()">X</span>
      <h1>Passwort ändern</h1>
    </div>

    <div>
      <div class="flex">
        <div class="txt_field">
          <input disabled type="text" name="userName" id="userName" [(ngModel)]="userName" #user="ngModel" required
                 pattern="^[a-zA-Z0-9._]+$" [ngClass]="{'has-value': userName != ''}">
          <span></span>
          <label>Benutzername:</label>
        </div>
      </div>

      <div class="flex">
        <div class="txt_field">
          <input type="password" name="password" id="password" [(ngModel)]="password" #passwd="ngModel" required
                 [ngClass]="{'has-value': password != ''}">
          <span></span>
          <label>Passwort:</label>
        </div>
        <div *ngIf="passwd.hasError('required') && passwd.touched">
          <span class="error" matTooltip="Sie müssen ein Passwort angeben!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="txt_field">
        <input type="password" name="password2" id="password2" [(ngModel)]="passwordCheck" #passwd2="ngModel" required
               [ngClass]="{'has-value': passwordCheck != ''}">
        <span></span>
        <label>Passwort wiederholen:</label>
      </div>
      <div *ngIf="passwd2.hasError('required') && passwd2.touched">
          <span class="error" matTooltip="Sie müssen ein Passwort angeben!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
      </div>
    </div>

    <button type="submit" [disabled]="changePasswordForm.invalid">Passwort ändern</button>
  </form>
</div>
