<div class="gameData">
  <span>DU: {{name}}</span>
  <div id="players">
    <div id="player" *ngFor="let player of this.gameData?.players; index as i">
      <div [style.color]="player.color">NAME: {{this.users[i] | async}}</div>
      <div>GOLD: {{player.gold}}</div>
    </div>
  </div>
</div>

<div id="menu">
  <app-menu *ngIf="activeShip != undefined" [playerID]="playerID" [ship]="activeShip!"></app-menu>
</div>

<main>
  <canvas #gameCanvas></canvas>
</main>

<button (click)="leave()" class="logout-button">Abbrechen</button>
