main {
  overflow-y: hidden;

  width: 100vw;
  height: 100vh;

  canvas {
    image-rendering: pixelated;
  }
}

main {
  background-color: #4f8fba;
}

.logout-button, #adminBtn {
  position: absolute;
  top: 0;
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button {
  right: 0;
  background-color: #3c5e8b;
}

.logout-button:hover {
  background-color: #304c74;
}

.gameData {
  position: absolute;
  margin-left: 50px;
  display: flex;
  align-items: center;

  top: 50%;
  transform: translate(0, -50%);

  .own {
    background-color: #73bed3 !important;
  }

  #player {
    background-color: #3c5e8b;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
    margin: 5px;

    div {
      color: white;
    }

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}

#menu {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 50px;

  top: 50%;
  transform: translate(0, -50%);

  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#won {
  position: absolute;

  h1 {
    color: white;
  }

  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
